.signup-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f3f3;
    margin: auto;
}

.screen-container {
    width: 880px;
    height: 500px;
    top: 60px;
    left: 200px;

    position: absolute;
}

.signup-left {
    background: #fdfdfd;
    width: 420px;
    height: 500px;
    border-radius: 40px 0 0 40px;
}

.signup-left-logo {
    display: block;
    align-items: flex-start;
    text-align: left;
    justify-content: left;
    width: 150px;
    height: 50px;
    top:20px;
    left:20px;
    position: absolute;

}
.signup-logo-right{
    display: block;
    align-items: flex-start;
    text-align: left;
    justify-content: left;
    width:250px;
    height:100px;
    top:0px;
    right:-30px;
    position: absolute;
    z-index: 1000;
}

.signup-left-container {
    width: 350px;
    height: 350px;
    top: 50px;
    left: 50px;
    background: #fff;
    margin: auto;
    position: absolute;
    text-align: center;
    align-items: center;
}

.signup-input {
    background: #F6FAFF;
    border-radius: 10.56px;
    border: none;
}

.signup-right {
    background: linear-gradient(137.08deg, #3F8DF3 4.92%, #C3A3EE 115.47%);
    width: 420px;
    height: 500px;

    border-radius: 0 40px 40px 0;
}


.signup-right-fluid {
    width: 400px;
    height: 450px;
    top: 78px;
    left: 929px;
    border-radius: 22px;
    padding: 20px;
    margin: 39px 0px 0px 12px;
}

.signup-horizontal {
    background: #DBDBDB;
    color: #DBDBDB;
    overflow: visible;
    text-align: center;
    height: 0.5px;
}

.signup-horizontal:after {
    background: #fff;
    content: 'Login with Others';
    padding: 0 20px;
    position: relative;
    color: #333;
    top: -13px;
}

.signup-now-button {
    width: 125px;
    height: 38px;
    border-radius: 15.94px;
    background: linear-gradient(137.08deg, #3F8DF3 4.92%, #C3A3EE 115.47%);
    box-shadow: 0px 9.107547760009766px 27.322641372680664px 0px #00000026;
    text-align: center;
    padding: 5px;
    color: #F6FAFF;
    margin: 30px auto;
}

.signup-google {
    border: 0.57px solid #C3C3C3;
    color: #C3C3C3;
    width: 250px;
    height: 34px;
    border-radius: 10px;
font-size: 14px;
padding: 5px;
display: flex;
justify-content: space-around;
align-items: center;
    
}

.signup-facebook {
    border: 0.57px solid #C3C3C3;
    color: #C3C3C3;
    text-align: center;
    width: 250px;
    height: 34px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
    display: flex;
justify-content: space-around;
align-items: center;
}
.google-logo{
    width: 34px;
height: 34px;
padding: 5px;
}


/* Responsive */

@media only screen and (min-width: 200px) and (max-width: 767px)  {

    .signup-container {
        width: 100vw !important;
        height: 100vh;
        position: relative;
        /* background: #bb2626; */
        margin: auto;
    }
    
    .screen-container {
        width:100%;
        height: 100%;
        top: 0;
        left: auto !important;
        /* background: #2635bb; */
        position: absolute;
    }
    
    .signup-left {
        /* background: #974646; */
        width: 90%;
        height: 550px;
        border-radius: 20px ;
        /* background: #32bb26; */
        margin: auto;
    }
    
    .signup-left-logo {
        display: block;
        align-items: flex-start;
        text-align: left;
        justify-content: left;
        width:120px;
        height: 30px;
        top:20px;
        left:50px;
        position: absolute;
    
    }
    .signup-logo-right{
        display: block;
        align-items: flex-start;
        text-align: left;
        justify-content: left;
        width:150px;
        height:80px;
        top:0px;
        right:5%;
        position: absolute;
        /* background: #bb2653; */
    }
    
    .signup-left-container {
        width: 90%;
        height: 450px;
        top: 80px;
        left: auto !important;
        /* background: #443b3b; */
        margin: auto !important;
        position: absolute;
        text-align: center;
        align-items: center;

        /* background: #bb7a26; */
    }
    
    .signup-input {
        background: #F6FAFF;
        border-radius: 10.56px;
        border: none;
    }
    
    .signup-right {
        display: none !important;
    }
    
    
    .signup-right-fluid {
        display: none !important;
    }
    
    .signup-horizontal {
        background: #DBDBDB;
        color: #DBDBDB;
        overflow: visible;
        text-align: center;
        height: 0.5px;
    }
    
    .signup-horizontal:after {
        background: #fff;
        content: 'Login with Others';
        padding: 0 20px;
        position: relative;
        color: #333;
        top: -13px;
    }
    
    .signup-now-button {
        width: 125px;
        height: 38px;
        border-radius: 15.94px;
        background: linear-gradient(137.08deg, #3F8DF3 4.92%, #C3A3EE 115.47%);
        box-shadow: 0px 9.107547760009766px 27.322641372680664px 0px #00000026;
        text-align: center;
        padding: 5px;
        color: #F6FAFF;
        margin: 30px auto;
    }
    
    .signup-google {
        border: 0.57px solid #C3C3C3;
        color: #C3C3C3;
        width: 50%;
        height: 34px;
        border-radius: 10px;
    font-size: 14px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
        
    }
    
    .signup-facebook {
        border: 0.57px solid #C3C3C3;
        color: #C3C3C3;
        text-align: center;
        width: 50%;
        height: 34px;
        border-radius: 10px;
        font-size: 12px;
        padding: 5px;
        display: flex;
    justify-content: space-around;
    align-items: center;
    }
    .google-logo{
        width: 34px;
    height: 34px;
    padding: 5px;
    }
    
   

    }