/* tarot-reader-detail CSS */



a {
    text-decoration: none;
}

.header-section {
    max-width: 1925px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header-container {
    background-color: #111011;
    position: relative;
}

.header-container .main-logo {
    max-width: 380px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-container .main-logo img {
    width: 100%;
}

.contact-details p {
    color: #FFFFFF;
    margin: 0;
}

.contact-info {
    display: flex;
    position: relative;
    padding: 23px;
}

.contact-logo-1 {
    display: flex;
    width: 48px;
    height: 47px;
}

.contact-logo-2 {
    display: flex;
    width: 34px;
    height: 34px;
}

.contact-details {
    padding-left: 10px;
}

.line-draw {
    background-color: #F3701E;
    width: 100%;
    padding: 16px;
}

.contact {
    display: flex;
    justify-content: space-around;
    max-width: 503px;
    width: 100%;
}

.contact-info:nth-child(2):after {
    position: absolute;
    left: -20px;
    content: '';
    width: 1px;
    height: 50px;
    background-color: #707070;

}

.header-container>.row {
    justify-content: space-between;
    padding: 0 50px;
    margin: 0;
}

.menu-option li a {
    color: #FFFFFF;
}

.menus {
    max-width: 503px;
    width: 100%;

}

.menu-option {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 23px;
    margin: 0;
}

.menu-option li img {
    padding-right: 10px;
}

select#language {
    background-color: #000000;
    color: #ffffff;
    border: none;
}

nav.navbar-section>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

}

nav.navbar-section>ul li a {
    color: #000000;
}

.user-section {
    max-width: 1925px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}

.user-profile {
    max-width: 339px;
    width: 100%;

}

.user-description {
    max-width: 1289px;
    width: 100%;
}

.user-profile .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.user-profile .profile-image {
    max-width: 133px;
    width: 100%;
    overflow: hidden;
}

.profile-name {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--font-1);
}

.schedule-btn {
    background: linear-gradient(137.08deg, #3F8DF3 4.92%, #C3A3EE 115.47%);
    padding: 10px 50px;
    color: rgba(255, 251, 238, 1);
    font-family: var(--font-1);
    font-size: 17px;
    border-radius: 8px;
}

nav.navbar-section {
    max-width: 1925px;
    width: 100%;
    margin: 0 auto;
}

/* ----------Tarot Reader Details Page CSS------- */

.user-description .availability h2,
.my-services h2,
.specialization h2,
.exprience-qualification h2 {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--font-1)
}

button.chat-btn {
    background: linear-gradient(137.08deg, #3F8DF3 4.92%, #C3A3EE 115.47%);
    font-size: 17px;
    color: #FFFBEE;
    padding: 15px 80px;
    border-radius: 8px;
    margin-right: 15px;
}

button.call-btn {
    font-size: 17px;
    border: 0.5px solid black;
    padding: 14px 70px;
    border-radius: 8px;
    color: #191919;
}

.availability {
    display: flex;
    justify-content: space-between;
}

.user-profile .profile h6 {
    font-family: var(--font-2);
}

table.day-of-schedule {
    width: 100%;
    text-align: center;
}

table.day-of-schedule th p {
    margin: 0;
    font-size: 17px;
}

table.day-of-schedule th span {
    font-size: 13px;
    font-weight: 400;
}

table.day-of-schedule th {
    border-bottom: 1px solid #F3701E;
    position: relative;
}

table.day-of-schedule th,
table.day-of-schedule td {
    padding: 25px 0;
}

table.day-of-schedule th::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #F3701E;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, +50%);
}

a.time-slot {
    border: 0.2px solid #000000;
    border-radius: 50px;
    padding: 5px;
    color: #201B1B;
    margin-top: 3px;
    font-size: 12px;
}

.availability-schedule {
    box-shadow: 0px 8px 24px 0px #00000026;
    padding: 30px;
}

.section-reviews {
    box-shadow: 0px 8px 24px 0px #00000026;
    padding: 20px;
    margin-top: 20px;
}

h2.review-caption {
    color: #F3701E;
    font-family: var(--font-1);
    padding-top: 20px;
    font-size: 25px;
    font-weight: 700;
}

.review-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.review-img img {
    width: 100%;
}

.review-info {
    display: flex;
}

.review-name h3 {
    margin: 0;
    font-size: 19px;
    font-weight: 700;
    font-family: var(--font-1);
}

.review-content h4 {
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 400;
}

.review {
    padding: 20px 0;
}

.my-services {
    max-width: 435px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 8px 24px 0px #00000026;
}

.user-description>.row {
    padding: 12px;

}

.our-expertiese {
    max-width: 833px;
    width: 100%;
    padding-bottom: 0 !important;
}

.specialization {
    width: 100%;
    box-shadow: 0px 8px 24px 0px #00000026;
    padding: 30px;
}

/* .specialization-content h6 {
    border: 0.5px solid #F3701E;
    border-radius: 16px;
    padding: 10px;
    white-space: nowrap;
    flex-wrap: wrap;
} */

.specialization-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
}

.specialization-content div {
    border: 0.5px solid #F3701E;
    border-radius: 16px;
    white-space: nowrap;

    font-size: 12px;
    width: 100px;
    height: 35px;

    text-align: center;
    font-size: 10px;
    padding-top: 10px;
    margin:5px auto;

}

.exprience-qualification {
    padding: 30px;
    box-shadow: 0px 8px 24px 0px #00000026;
}

.team-member {
    max-width: 200px;
    width: 100%;
    box-shadow: 0px 8px 24px 0px #00000026;
    padding: 5px;
    padding-top: 5px;
    text-align: center;
    margin-top: 50px;
    padding-top: 102px;
    border: 1px solid #3F8DF3;
    position: relative;
    border-radius: 16px;
}

.team-member h3 {
    font-family: var(--font-1);
    font-size: 25px;
    font-weight: 700;
}

.team-member h6 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'poppins';
}

.team-member img {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translate(-50%);
    width: 100px;
    height: 100px;

}

.pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.pricing a {
    background: linear-gradient(137.08deg, #3F8DF3 4.92%, #C3A3EE 115.47%);
    padding: 10px 30px;
    white-space: nowrap;
    color: #FFFBEE;
    border-radius: 8px;
    font-family: var(--font-1);
}



/* Responsive */

@media only screen and (min-width: 200px) and (max-width: 767px) {

    /* tarot-reader-detail CSS */



    a {
        text-decoration: none;
    }

    .header-section {
        max-width: 100%;
        width: 100vw;
        margin: 0 auto;
        position: relative;
    }

    .header-container {
        background-color: #111011;
        position: relative;
    }

    .header-container .main-logo {
        max-width: 380px;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-container .main-logo img {
        width: 100%;
    }

    .contact-details p {
        color: #FFFFFF;
        margin: 0;
    }

    .contact-info {
        display: flex;
        position: relative;
        padding: 23px;
    }

    .contact-logo-1 {
        display: flex;
        width: 48px;
        height: 47px;
    }

    .contact-logo-2 {
        display: flex;
        width: 34px;
        height: 34px;
    }

    .contact-details {
        padding-left: 10px;
    }

    .line-draw {
        background-color: #F3701E;
        width: 100%;
        padding: 16px;
    }

    .contact {
        display: flex;
        justify-content: space-around;
        max-width: 503px;
        width: 100%;
    }

    .contact-info:nth-child(2):after {
        position: absolute;
        left: -20px;
        content: '';
        width: 1px;
        height: 50px;
        background-color: #707070;

    }

    .header-container>.row {
        justify-content: space-between;
        padding: 0 50px;
        margin: 0;
    }

    .menu-option li a {
        color: #FFFFFF;
    }

    .menus {
        max-width: 503px;
        width: 100%;

    }

    .menu-option {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 23px;
        margin: 0;
    }

    .menu-option li img {
        padding-right: 10px;
    }

    select#language {
        background-color: #000000;
        color: #ffffff;
        border: none;
    }

    nav.navbar-section>ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
        border-radius: 8px;

    }

    nav.navbar-section>ul li a {
        color: #000000;
    }

    .user-section {
        max-width: 100%;
        width: 100%;
        margin: 20px auto;
        padding: 0;

    }

    .user-profile {
        max-width: 100vw;
        width: 100%;
        margin: auto;

    }

    .user-description {
        max-width: 98%;
        width: 100%;
        margin: 15px auto;
    }

    .user-profile .profile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
    }

    .user-profile .profile-image {
        max-width: 133px;
        width: 100%;
        overflow: hidden;
    }

    .profile-name {
        font-size: 25px;
        font-weight: 700;
        font-family: var(--font-1);
    }

    .schedule-btn {
        background: linear-gradient(137.08deg, #3F8DF3 4.92%, #C3A3EE 115.47%);
        padding: 10px 50px;
        color: rgba(255, 251, 238, 1);
        font-family: var(--font-1);
        font-size: 17px;
        border-radius: 8px;
    }

    nav.navbar-section {
        max-width: 100vw;
        width: 100%;
        margin: 0 auto;

    }

    /* ----------Tarot Reader Details Page CSS------- */

    .user-description .availability h2,
    .my-services h2,
    .specialization h2,
    .exprience-qualification h2 {
        font-size: 20px;
        font-weight: 700;
        font-family: var(--font-1);
        margin-bottom: 20px;
        /* background: #be1b1b; */
    }

    a.chat-btn {
        background: linear-gradient(137.08deg, #3F8DF3 4.92%, #C3A3EE 115.47%);
        font-size: 17px;
        color: #FFFBEE;
        padding: 10px 40px;
        border-radius: 8px;
        margin-right: 15px;
    }

    a.call-btn {
        font-size: 17px;
        border: 1px solid black;
        padding: 10px 40px;
        border-radius: 8px;
        color: #191919;
    }

    .availability {
        display: block;
        justify-content: center;
        align-items: center;
        height: 120px;
        text-align: center;
        padding-top: 20px;
    }

    .user-profile .profile h6 {
        font-family: var(--font-2);
    }

    table.day-of-schedule {
        width: 100%;
        height: 100%;
        display: block;
        padding-left: 4px;
    }

    table.day-of-schedule th p {
        font-size: 9px;
        font-weight: 400;
    }

    table.day-of-schedule th span {
        font-size: 7px;
        font-weight: 400;
    }

    table.day-of-schedule th {
        border-bottom: 1px solid #F3701E;
        position: relative;
    }

    table.day-of-schedule th,
    table.day-of-schedule td {
        padding: 25px 0;
    }

    table.day-of-schedule th::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: #F3701E;
        border-radius: 50%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, +50%);
    }

    a.time-slot {
        border: 0.2px solid #000000;
        border-radius: 23px;
        padding: 3px;
        color: #201B1B;
        margin-top: 0px;
        font-size: 5px;
    }

    .availability-schedule {
        box-shadow: 0px 8px 24px 0px #00000026;
        padding: 0;
    }

    .section-reviews {
        box-shadow: 0px 8px 24px 0px #00000026;
        padding: 20px;
        margin-top: 20px;
    }

    h2.review-caption {
        color: #F3701E;
        font-family: var(--font-1);
        padding-top: 20px;
        font-size: 25px;
        font-weight: 700;
    }

    .review-img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .review-img img {
        width: 100%;
    }

    .review-info {
        display: flex;
    }

    .review-name h3 {
        margin: 0;
        font-size: 19px;
        font-weight: 700;
        font-family: var(--font-1);
    }

    .review-content h4 {
        font-size: 18px;
        font-family: 'Lato';
        font-weight: 400;
    }

    .review {
        padding: 20px 0;
    }

    .my-services {
        max-width: 375px;
        width: 100%;
        padding: 30px;
        box-shadow: 0px 8px 24px 0px #00000026;

    }

    .user-description>.row {
        padding: 12px;
        display: block !important;
        /* background: #3F8DF3; */
    }

    .our-expertiese {
        max-width: 100%;
        width: 100%;
        padding: 10px;

    }

    .specialization {
        width: 100%;
        box-shadow: 0px 8px 24px 0px #00000026;
        padding: 30px;
    }

    .specialization-content h6 {
        border: 0.5px solid #F3701E;
        border-radius: 16px;
        padding: 10px;
        white-space: nowrap;
        flex-wrap: wrap;
    }

    .specialization-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .exprience-qualification {
        padding: 30px;
        box-shadow: 0px 8px 24px 0px #00000026;
    }

    .team-member {
        max-width: 350px;
        width: 100%;
        box-shadow: 0px 8px 24px 0px #00000026;
        padding: 0 !important;

        text-align: center;
        margin-top: 50px;
        border: 1px solid #3F8DF3;
        position: relative;
        border-radius: 16px;
        padding-top: 120px !important;
    }

    .team-member h3 {
        font-family: var(--font-1);
        font-size: 25px;
        font-weight: 700;
    }

    .team-member h6 {
        font-size: 16px;
        font-weight: 500;
        font-family: 'poppins';
    }

    .team-member img {
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translate(-50%);
        width: 100px;
        height: 100px;

    }

    .pricing {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        margin: auto;
    }

    .pricing a {
        background: linear-gradient(137.08deg, #3F8DF3 4.92%, #C3A3EE 115.47%);
        padding: 10px 30px;
        white-space: nowrap;
        color: #FFFBEE;
        border-radius: 8px;
        font-family: var(--font-1);
    }

}