.testimonial-page-hero-wrapper {
    max-width: 100%;
    height:450px;
    margin: 0 auto;
    background: #a89797;
    background-image: url(../../images/services/testimonial-page-hero-img.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .testimonial-page-hero-section {
    display: flex;
    height: auto;
    max-width: 1266px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
    padding-left: 220px;
    position: relative;
    color: #fff;
  
  }
  
  .testimonial-page-hero-section .testimonial-page-left h1 {
    font-family:'Lato', sans-serif ;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    margin-bottom: 0;
  }
  
  .testimonial-page-hero-section .testimonial-page-left p {
    font-family:'Lato', sans-serif ;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    margin-bottom: 30px;
    width: 457px;
  }
  
  .testimonial-page-hero-section .testimonial-page-left {
    flex: 1;
    width: 612px;
    height: 300px;
    padding: 100px 0 0 0;
  
  }


 


  .client-grid-container{
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
    background: url(../images/services/testimonial-page-bg-1.png);
  }

  .client-grid-container h3{
    font-family: Philosopher;
font-size: 50px;
font-weight: 700;
line-height:47px;
letter-spacing: 0em;
text-align: center;

  }
  .client-grid-container p{
    font-family: Lato;
font-size:18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;

  }

  .client-say-card{
    width: 1166px;
    margin: auto;
    display: block;
    align-items: center;

  }
  .client-say-card .client-say-1{
    width:330px;
    height:290px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    margin: auto;
    
  }

  .client-say-card .client-say-2{
    width:330px;
    height:380px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    margin: auto;
    
  }
  .client-say-card .client-say-3{
    width:330px;
    height: 200px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    margin: auto;
    
  }

  .client-say-card .client-say-4{
    width:330px;
    height:250px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    margin: auto;
    
  }

  .client-say-card .client-say-5{
    width:330px;
    height:380px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    margin: auto;
    
  }
  .client-say-card .client-say-6{
    width:330px;
    height: 200px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    margin: auto;
    
  }

  .client-says-icon-2 {

    width:50px;
    height:20px;
    top:10px;
    right:10px;
    color: #201B1B;
    text-align: center;
    font-size:12px;
    font-weight: 800;
    position: absolute;
    display: flex;
    justify-content: space-around;

}

.slider-container-mobile{
  display: none !important;
}

/* Responsive */

@media only screen and (min-width: 200px) and (max-width: 767px){
  .testimonial-page-hero-wrapper {
    max-width: 100%;
    height:200px;
    margin: 0 auto;
    background: #081b22;
    background-image: url(../images/services/testimonial-page-hero-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    
   
  }
  
  .testimonial-page-hero-section {
    display: flex;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top:5px;
    padding-left: 20px;
    position: relative;
    color: #fff;
  
  }
  
  .testimonial-page-hero-section .testimonial-page-left h1 {
    font-family:'Lato', sans-serif ;
    font-weight: 900;
    font-size: 30px;
    line-height: 55%;
    margin-bottom: 0;
  }
  
  .testimonial-page-hero-section .testimonial-page-left p {
    font-family:'Lato', sans-serif ;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    margin-bottom: 30px;
    width: 457px;
  }
  
  .testimonial-page-hero-section .testimonial-page-left {
    flex: 1;
    width: 612px;
    height: 300px;
    padding: 100px 0 0 0;
  
  }


 


  .client-grid-container{
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
    background: url(../images/services/testimonial-page-bg-1.png);
  }

  .client-grid-container h3{
    font-family: Philosopher;
font-size: 50px;
font-weight: 700;
line-height:47px;
letter-spacing: 0em;
text-align: center;

  }
  .client-grid-container p{
    font-family: Lato;
font-size:18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;

  }

  .client-say-card{
    width: 1166px;
    margin: auto;
    display: block;
    align-items: center;

  }
  .client-say-card .client-say-1{
    width:330px;
    height:290px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    
  }

  .client-say-card .client-say-2{
    width:330px;
    height:380px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    
  }
  .client-say-card .client-say-3{
    width:330px;
    height: 200px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    
  }

  .client-say-card .client-say-4{
    width:330px;
    height:250px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    
  }

  .client-say-card .client-say-5{
    width:330px;
    height:380px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    
  }
  .client-say-card .client-say-6{
    width:330px;
    height: 200px;
    border-radius: 10px;
    background: #ffffff;
    margin-bottom: 30px;
    
  }

  .client-says-icon-2 {

    width:50px;
    height:20px;
    top:10px;
    right:10px;
    color: #201B1B;
    text-align: center;
    font-size:12px;
    font-weight: 800;
    position: absolute;
    display: flex;
    justify-content: space-around;

}
.client-say-card{
  width: 100%;
  margin: auto;
  display: block;
  align-items: center;
  align-items: center;
  
}

.main{
  width: 100% !important;
  
}
/* Customer Satisfaction Section  */


.customer-satisfaction-section {
  width: 100%;
  height:100% ;
  display: block;
  justify-content: space-between;
  align-items:flex-start;
 background: url(../images/satisfaction-bg-1.png);
 background-size: cover;
 background-repeat: no-repeat;

}
.customer-satisfaction-section .slider-container{
 display: none !important;

}

.customer-satisfaction-section .slider-container-mobile{
  width: 90% !important;
  height: 458px;
  border: 1px;
 margin: 30px auto;
 display: block !important;

}
.carousel-control-prev-icon{
  color: #3406ff;

   margin-left: -80px;
  }
  .carousel-control-next-icon{
    color: #3406ff;

    margin-right: -80px;
  }

}